<li class="nav-item">
    @Html.ActionLink("Početna stranica", "Index", "Home", null, new { @class = "nav-link text-white" })
</li>
<li class="nav-item">
    @Html.ActionLink("Novo mjesto", "Create", "Mjesto", null, new { @class = "nav-link text-white" })
</li>
<li class="nav-item">
    @Html.ActionLink("Novi klijent", "Create", "Klijent", null, new { @class = "nav-link text-white" })
</li>
<li class="nav-item">
    @Html.ActionLink("Klijenti", "Index", "Klijent", null, new { @class = "nav-link text-white" })
</li>
<li class="nav-item">
    @Html.ActionLink("Zaposlenici", "Index", "Zaposlenik", null, new { @class = "nav-link text-white" })
</li>
<li class="nav-item">
    @Html.ActionLink("Voditelj", "Index", "Voditelj", null, new { @class = "nav-link text-white" })
</li>
