@model Autoservis.Klijent


@{
    ViewBag.Title = Model.PrezimeKlijenta;
    Autoservis.TerminPregledaInfoList termini = ViewBag.Termini;
    var poruke = (string)ViewBag.Message;
}


@if (false)
{
    <script src="../../Scripts/jquery-1.5.1-vsdoc.js" type="text/javascript"></script>
}

<!--
<div class="noviPodatak">
    <table>
        <tbody>
            <tr>
                <td>Ime</td>
                <td>@Model.ImeKlijenta</td>
            </tr>
            <tr>
                <td>Prezime</td>
                <td>@Model.PrezimeKlijenta</td>
            </tr>
            <tr>
                <td>Adresa</td>
                <td>@Model.UlicaKlijenta @Model.KucniBrojKlijenta</td>
            </tr>
            <tr>
                <td>Mjesto</td>
                <td>@Model.MjestoKlijenta.NazivMjesta @Model.MjestoKlijenta.PostanskiBroj</td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Ažuriraj", "Edit", new { IdKlijenta = Model.IdKlijenta })
                    &nbsp;
                    @using (Html.BeginForm("Delete", "Klijent", new { IdKlijenta = Model.IdKlijenta }))
                    {
                        <a class="delete">Obriši</a>
                    }
                </td>


                <td></td>
            </tr>
        </tbody>
    </table>
</div>
    -->

<div class="bg-info p-5 rounded">
    <h4>Detalji</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            Prezime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrezimeKlijenta)
        </dd>

        <dt>
            Ime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeKlijenta)
        </dd>

        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlicaKlijenta) @Html.DisplayFor(model => model.KucniBrojKlijenta)
        </dd>
        <dt>
            Mjesto i poštanski broj
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MjestoKlijenta.NazivMjesta), @Model.MjestoKlijenta.PostanskiBroj
        </dd>

    </dl>
    <div class="d-flex flex-row justify-content-end align-items-center">
        @Html.ActionLink("Ažuriraj", "Edit", new { IdKlijenta = Model.IdKlijenta },new { @class="btn-sm btn-primary"})
        &nbsp;
        @using (Html.BeginForm("Delete", "Klijent", new { IdKlijenta = Model.IdKlijenta }))
        {
            <a class="delete btn-sm btn-danger">Obriši</a>
        }
    </div>
</div>


<p>
    @{Html.RenderPartial("ValidationError");}
</p>

<p>
    @Html.ActionLink("Dodaj vozilo", "DodajVozilo", new { IdKlijenta = Model.IdKlijenta })

</p>

@{
    if (Model.KlijentVozila.Count > 0)
    {
        Html.RenderPartial("Vozila", Model.KlijentVozila, new ViewDataDictionary() { { "IdKlijenta", Model.IdKlijenta } });
    }
}

<p>
    @Html.ActionLink("Dodaj termin", "Create", "TerminPregleda", new { IdKlijenta = Model.IdKlijenta }, null)
</p>

@{
    if (termini.Count > 0)
    {
        Html.RenderPartial("Termini", termini, new ViewDataDictionary() { { "IdKlijenta", Model.IdKlijenta } });
    }
}


<p />
Obavijesti
<br />
<div>
    <textarea cols="100" rows="15">@poruke</textarea>

</div>

<script type="text/javascript" language="javascript">

    function setupButton() {
        var myButton = document.querySelector('#myButton');

        // Run our sendPing function when someone clicks the button
        myButton.addEventListener('click', pošalji);
    }

    setupButton();

    function pošalji() {
        // pozovem kontroler Projekt, akciju PromijeniUlogu
        var poruka = $("#output").val();
        var klijent = $("#output").attr('IdKlijent');
        console.log(klijent);
        $.post(appRoot + "Klijent/Posalji",
            { sadrzaj: poruka, IdKlijent: klijent },
            function (data) {
                $("#output").val() = "";
            }
        );


    }
</script>
