@model Autoservis.Vozilo

@{
    ViewBag.Title = "Unos novog vozila";
}

@using (Html.BeginForm(new { IdKlijenta = Model.Vlasnik.IdKlijenta }))
{
    <div class="noviPodatak">
        <table>
            <tbody>
                <tr>
                    <td>Vlasnik</td>
                    <td>@Model.Vlasnik.PrezimeKlijenta</td>
                </tr>
                <tr>
                    <td>Marka</td>
                    <td>@Html.EditorFor(voz => voz.MarkaVozila)</td>
                </tr>
                <tr>
                    <td>Tip</td>
                    <td>@Html.EditorFor(voz => voz.TipVozila)</td>
                </tr>
                <tr>
                    <td>Godina proizvodnje</td>
                    <td>@Html.EditorFor(voz => voz.GodinaProizvodnje)</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <a class="submit">Spremi</a>
                    </td>
                    <td>@Html.ActionLink("Odustani", "Details", "Klijent", new { IdKlijenta = Model.Vlasnik.IdKlijenta }, null)</td>
                </tr>
            </tbody>
        </table>
    </div>
}


@{Html.RenderPartial("ValidationError");}

