@model Autoservis.BLL.TerminPregledaInfoList

@if (false)
{
    <script src="../../Scripts/jquery-1.5.1-vsdoc.js" type="text/javascript"></script>
}
@{ 
    var poruke = ViewBag.Poruke;
}

<table class="tablica">
    <tr>
        <th>
            Termin
        </th>
        <th>
            Klijent
        </th>
        <th>
            Status
        </th>

    </tr>


    @foreach (var item in Model)
    {
    <tr>
        <td>

            @Html.ActionLink(item.NazTermina, "Details", "TerminPregleda", new { IdTermina = item.IdTermina }, null)
        </td>
        <td>
            @Html.ActionLink(item.NazKlijent, "Details", "Klijent", new { IdKlijenta = item.IdKlijenta }, null)
        </td>

        <td>@Html.Label("Labela", new { @class = item.Status })</td>

        @if ((item.Status == Autoservis.Status.Ponisteno) || (item.Status == Autoservis.Status.PrihvatioAutoservis) || (item.Status == Autoservis.Status.PrihvatioKlijent))
        {
            <td>

                @using (Html.BeginForm("IzbrisiTermin", "Voditelj", new { IdTermina = item.IdTermina }))
                {
                    <a class="delete">Obriši</a>
                }

            </td>


        }
        else if (item.Status == Autoservis.Status.PonudaKlijenta)
        {
            <td>@Html.ActionLink("Ponudi novi termin", "UrediTermin", new { IdTermina = item.IdTermina }, null)</td>
            <td>@Html.ActionLink("Prihvati termin", "PrihvatiTermin", new { IdTermina = item.IdTermina }, null)</td>
        }

    </tr>
    }

</table>



@section JavaScript{
    <script language="javascript" type="text/javascript">

        $(function () {
            $(".PonudaKlijenta").text("Nova ponuda");
            $(".PonudaKlijenta").css("color", "orange");
        });

        $(function () {
            $(".PonudaAutoservisa").text("Obrađuje se");
            $(".PonudaAutoservisa").css("color", "orange");
        });

        $(function () {
            $(".PrihvatioAutoservis").text("Prihvaćeno");
            $(".PrihvatioAutoservis").css("color", "green");
        });

        $(function () {
            $(".PrihvatioKlijent").text("Prihvaćeno");
            $(".PrihvatioKlijent").css("color", "green");
        });

        $(function () {
            $(".Ponisteno").text("Poništeno");
            $(".Ponisteno").css("color", "red");
        });
    </script>
}