@model Autoservis.BLL.TerminPregleda


<div class="noviPodatak">
    <table>
        <tbody>

            <tr>
                <td>Naziv vozila</td>
                <td>@Model.Vozilo.PuniNazivVozila</td>
            </tr>
            <tr>
                <td>Prezime klijenta</td>
                <td>@Model.Klijent.PrezimeKlijenta</td>
            </tr>
            <tr>
                <td>Ime klijenta</td>
                <td>@Model.Klijent.ImeKlijenta</td>
            </tr>
            <tr>
                <td>Datum </td>
                <td>@Model.DatumIVrijemeTermina.ToLongDateString()</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Autoservis.StatusHelper.GetString(Model.Status)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="bg-info p-5 rounded">
    <h4>Detalji termina</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            Naziv vozila
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vozilo.PuniNazivVozila)
        </dd>

        <dt>
            Prezime klijenta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klijent.PrezimeKlijenta)
        </dd>

        <dt>
            Ime klijenta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klijent.ImeKlijenta)
        </dd>
        <dt>
            Datum termina
        </dt>
        <dd>
            @Html.Encode(Model.DatumIVrijemeTermina.ToLongDateString())
        </dd>
        <dt>
            Status
        </dt>
        <dd>
            @Html.Encode(Autoservis.StatusHelper.GetString(Model.Status))
        </dd>

    </dl>

    <div class="d-flex flex-row justify-content-end align-items-center">
        &nbsp;
        @using (Html.BeginForm("Delete", "TerminPregleda", new { IdKlijenta = Model.IdKlijenta }))
        {
            <a class="delete btn-sm btn-danger">Obriši</a>
        }
    </div>
</div>