@model Autoservis.ObradaVozila

@{
    ViewBag.Title = Model.Vozilo.PuniNazivVozila;

}

<div class="noviPodatak">
    <table>
        <tbody>
            
            <tr>
                <td>Naziv vozila</td>
                <td>@Model.Vozilo.PuniNazivVozila</td>
            </tr>
            <tr>
                <td>Datum zaprimanja vozila</td>
                <td>@Model.DatumZaprimanja.ToString("d.M.yyyy.")</td>
            </tr>
            <tr>
                <td>Datum preuzimanja vozila</td>
                <td>@(Model.DatumPreuzimanja.HasValue ? Model.DatumPreuzimanja.Value.ToString("d.M.yyyy.") : "Obrada u tijeku")</td>
            </tr>
            <tr>
                <td>Opis</td>
                <td>@Html.TextAreaFor(p => p.Opis, new { disabled = true })</td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Ažuriraj", "Edit", new { IdObrade = Model.IdObrade })
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Obrada", new { IdObrade = Model.IdObrade, IdVozila = Model.Vozilo.IdVozila }))
                    {
                        <a class="delete">Obriši</a>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Dodaj sudionika", "Select", "Zaposlenik", new { IdObrade = Model.IdObrade }, null)
</p>

@{
    if (Model.SudioniciObrade.Count > 0)
    {
        Html.RenderPartial("Zaposlenici", Model.SudioniciObrade, new ViewDataDictionary() { { "IdObrade", Model.IdObrade } });
    }
}
