@model Autoservis.BLL.Zaposlenik

@{
    ViewBag.Title = "Unos novog Zaposlenika";
}

@{
    Autoservis.BLL.MjestoList listaMjesta = Autoservis.BLL.MjestoList.Get();
}




@using (Html.BeginForm("Create", "Zaposlenik", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Unos novog zaposlenika.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.PrezimeZaposlenika, "Prezime", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.PrezimeZaposlenika, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.PrezimeZaposlenika, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ImeZaposlenika, "Ime", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ImeZaposlenika, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.ImeZaposlenika, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.UlicaZaposlenika, "Ulica", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.UlicaZaposlenika, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.UlicaZaposlenika, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.KucniBrojZaposlenika, "Kućni broj", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.KucniBrojZaposlenika, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.KucniBrojZaposlenika, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IdMjesto, "Mjesto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(m => m.IdMjesto, new SelectList(listaMjesta, "Key", "Value"), new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.IdMjesto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DatumZaposlenja, "Datum zaposlenja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.DatumZaposlenja, new { htmlAttributes = new { @class = "form-control datum",id="txtSelectedDate" } })
            @Html.ValidationMessageFor(m => m.DatumZaposlenja, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Unesi" />
        </div>
    </div>

}


@{Html.RenderPartial("ValidationError");}

<script language="javascript" type="text/javascript">
    $(function () {
        $.datepicker.setDefaults($.extend(
            { 'dateFormat': 'dd.mm.yy.', numberOfMonths: 1, showOtherMonths: true, selectOtherMonths: true }
        )); //default postavke kalendara

        $('.datum').datepicker();
        $('.datum').val('01.01.2000.');
        // $('.datum').datepicker("setDate", new Date());
    });

</script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#txtSelectedDate').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "dd/mm/yyyy",
            language: "tr"
        });
    });

</script>